#login-container {
  background-color: #0a9dc7;
  padding: 100px 50px;
  #login-form-container {
    padding: 10px;
    border: 2px solid;
    border-radius: 5px;
    box-shadow: black 1px 2px 5px;
  }
}