/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:
*/

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #4a87ee !default;
$calm:                            #43cee6 !default;
$balanced:                        #66cc33 !default;
$energized:                       #f0b840 !default;
$assertive:                       #ef4e3a !default;
$royal:                           #8a6de9 !default;
$dark:                            #444 !default;

// The path for our ionicons font files, relative to the built & temporary main.css
$ionicons-font-path: "../assets/fonts" !default;

// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:300i,400,500i,700');

// Font Variables
$roboto-slab: 'Roboto Slab', serif;
$open-sans: 'Open Sans', sans-serif;

// Styles
body {
  font-family: $roboto-slab, $open-sans;
  font-weight: normal;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $roboto-slab, $open-sans;
  font-weight: normal;
}
a {
  text-decoration: none;
  color: white !important;
  &:hover {
    color:darkgrey !important;
  }
}
input, label {
  font-family: $roboto-slab, $open-sans;
  font-weight: normal;
}

.button {
  font-family: $roboto-slab;
  font-weight: bold;
}

.logout {
  position: absolute;
  right: 50px;
  top: 0;
  background-color: white;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 1px 2px 5px;
  cursor: pointer;
  &:hover {
    background-color: darken(white, 20%);
  }
}

// Include all of Ionic
@import "../../bower_components/ionic/scss/ionic";