#new-batch-container {
  background-color: #0a9dc7;
  padding: 50px 50px;
  input[type="number"] {
    width: 80px;
    text-align: center;
    padding-right: 5px;
    border-radius: 5px;
    box-shadow: black 1px 2px 5px;
    margin-bottom: 5px;
  }
}