<div>
    <h5>Mash</h5>

    <!-- Chose number of steps -->
    <div ng-if="msh.showStepsForm && !msh.showMashWatch">
        <form name="stepNum">
            <label>
                Steps<input type="number" name="steps" min="1" max="4" value="1" ng-model="msh.numberOfSteps">
            </label>
            <div class="submit-btn" ng-click="msh.processNumberOfSteps()">OK</div>
        </form>
        <div ng-if="msh.wrongStepNum">
            <p>Solo admitimos de 1 a 4 steps en el mash</p>
        </div>
    </div>

    <!-- chose time and temperature -->
    <div ng-if="!msh.showStepsForm && !msh.showMashWatch">
        Temperatura(s)
        <form>
            <div ng-repeat="i in msh.getNumber(msh.numberOfSteps) track by $index">
                <label>
                    Duración del step nº {{$index + 1}}<input type="number" min="1" max="100" ng-model="msh.steps[$index].duration">
                </label>
                <label>
                    Temperatura objectivo step nº {{$index + 1}}<input type="number" min="30" max="89" ng-model="msh.steps[$index].temperature">
                </label>
            </div>
            <div class="submit-btn" ng-click="msh.createMashWatch()">OK</div>
        </form>
    </div>

    <!-- manage steps -->
    <div ng-if="!msh.showStepsForm && msh.showMashWatch">
        <div style="width: 80px;float: left;">
            <div  ng-repeat="i in msh.getNumber(msh.numberOfSteps) track by $index"
                  class="submit-btn"
                  ng-click="msh.createCountDown(msh.stepState, $index)">Step {{$index + 1}} {{msh.stepState}}</div>

        </div>
        <div class="timer">{{msh.timeLeft | msToMinSec}}</div>
    </div>
</div>
